@import "../constants.css";
@import "../../fonts/fonts.css";

.header {
    display: flex;
    justify-content: space-between;
    height: 28px;
    margin-top: 10px;
    padding: 10px 10%;
}

.button {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: var(--color-cancel-btn-enabled);
    margin-left: 8px;
    height: 28px;
}

.header__settings-icon {
    margin: 8px;
}

.header__run-icon {
    margin: 8px;
}

.header__title {
    margin: 0;
    font-family: "YS Text", serif;
    align-self: center;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.25px;
}

.header__build-btn-text {
    margin: 0 13px 0 0;
    align-self: center;

    font-family: "YS Text", serif;
    font-size: 13px;
    line-height: 28px;
}

.header__build-buttons-block {
    display: flex;
}

@media only screen and (max-width: 824px) {
    .header__settings-text {
        font-size: 18px;
        line-height: 22px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 15px 5%;
    }

    .header__settings-btn-text {
        display: none;
    }

    .header__build-btn-text {
        display: none;
    }
}