@import "constants.css";
@import "../fonts/fonts.css";

/*.placeholder {*/
/*    justify-content: flex-start;*/
/*}*/

.ticket {
    align-self: stretch;
    margin-bottom: 12px;
}

.ticket__content_placeholder {
    width: 100%;
}

.ticket__time-info {
    display: flex;
    position: relative;
    margin-left: 20px;
    margin-bottom: 0;

    opacity: var(--opacity-full);
}

.ticket__time-info_calendar {
    margin-right: 0;
}

.ticket__time-info_timer {
    margin-left: 28px;
}

.ticket__time-info:before {
    content: '';
    height: 16px;
    width: 14px;
    position: absolute;
    opacity: var(--opacity-info-text);
}

.ticket__time-info_calendar:before {
    left: -20px;
    background: url("../images/calendar-icon.svg") no-repeat center center;
}

.ticket__time-info_timer:before {
    left: -18px;
    background: url("../images/timer-icon.svg") no-repeat center center;
}

.ticket__time-details {
    margin-top: 8px;
    display: flex;
}

.hairline {
    background: var(--color-background);
    width: 100%;
    border-color: transparent;
    display: block;
}

.show-more-button {
    align-self: start;
    padding: 0 13px 0 13px;
    margin: 0;
}

.big-log {
    background: var(--color-cancel-btn-disabled);
    border-radius: 6px;

    padding: 8px 233px 8px 12px;
    align-self: stretch;
    /*margin: 2px 10% 20px 10%;*/
}

.big-log__text {
    font-family: Hack, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
}

@media only screen and (max-width: 824px) {
    .big-log {
        margin: 6px 0 16px 0;
        width: 100%;
        border-radius: 0;
    }
}