/*TODO: добавить media queries */
@font-face {
    font-family: "YS Text";
    src: url("//yastatic.net/islands/_/PyVcRbwHetz0gOVWLonWH7Od8zM.woff2") format("woff2"), url("//yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10%;
    height: 28px;
    margin-top: 10px;
}

/*TODO: добавить стили для нажатой кнопки*/
.button {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: none;
    border-radius: 4px;
    background-color: #E6E6E6;

}

.header__settings-icon {
    margin: 8px;
}

.header__title {
    font-family: "YS Text", serif;
    color: #7F8285;
    align-self: center;
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
    margin: 0;
}

.header__settings-btn-text {
    margin: 0px 13px 0px 0px;
    align-self: center;
    font-family: "YS Text", serif;
    font-size: 13px;
    line-height: 28px;
}

@media only screen and (max-width: 320px) {
    .header__settings-text {
        font-size: 18px;
        line-height: 22px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 15px 16px;
    }

    .header__settings-btn-text {
        display: none;
    }

    .header__title {
        font-size: 18px;
        line-height: 22px;
    }
}

/*body {*/
    /*display: flex; */
    /*flex-direction: column; */
    /*align-items: center; */
    /*height: 100%; */
    /*margin: 0;*/
/*}*/